<div id="main-content">

</div>

<script rel='text/javascript' src='/javascripts/showvideoT.js' />
</script>

<script id="index-template" type="text/x-handlebars-template">
    <div id="item-container">
        <div id="video-info">
        <iframe width="800" height="600" src="\{{url}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <h2>\{{ title }}</h2>
        <p>\{{ descripcion }}</p>
        <h4>Created by : \{{ user }}</h4>
        </div>
        <div id="comments-container">
        </div>
<form name="addcomments" class="form-comments" role="form" action="/api/getcomments/{{id}}" method="post">
  <input class="form-control" type="text" name="texto" id="inputTexto" placeholder="Escribir Comentario" required="required"
        autofocus="autofocus" />
  <button class="btn btn-lg btn-primary btn-block" type="submit">Add Comment</button>
</form>
    </div>
</script>

<script id="comment-template" type="text/x-handlebars-template">
    <div id="comment">
        <p>\{{texto}}</p>
        <h3>\{{username}}</h3><h3>\{{fecha}}</h3>
    </div>
</script>